//======================  Colors  ========================
$primary-color: #6d9bff;

// light-mode colors
$primary-light-color: #6d9bff20;
$text-primary-color: #3C4043;
$text-second-color: #586066;
$text-light-color: #aeb7ca;
$bg-color: #ffffff;
$blur-bg-color: #ffffff50;

// dark-mode colors
$dark-primary-light-color: #6d9bff20;
$dark-text-primary-color: #9197a5;
$dark-text-second-color: #70788b;
$dark-text-light-color: #5d6470;
$dark-bg-color: #2b2b2b;
$dark-blur-bg-color: #2b2b2b30;


//======================  Typography  =====================
$paragraph-font-size: 18px;
$paragraph-line-height: 1.75;
$img-border-radius: 4px;
$pre-border-radius: 4px;
