@import 'partial/var';

body {
    margin: 0 auto;
    margin-top: 15vh;
    max-width: 600px;
    background-color: $bg-color;
}

div.info {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.4em;
}
div.info img {
    width: 80px;
    height: 80px;
    box-shadow: rgba(100, 100, 111, 0.5) 3px 7px 29px 0px;
    // border: 1px rgba(245, 245, 245, 0.527) solid;
    border-radius: 50%;
    margin-right: 20px;
}
div.info-text {
    #name {
        color: $text-primary-color;
        font-size: 1.1em;
        // font-weight: bolder;
        margin-right: 10px;
    }
    #id {
        background-color: $primary-color;
        padding: 1px 12px 2px 12px;
        border-radius: 15px;
        color: #fff;
        font-size: 0.7em;
    }
    #bio {
        color: $text-second-color;
        font-size: 0.8em;
    }
}


div.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    height: 36px;

    .left a {
        display: inline-block;
        text-align: center;
        margin-right: 25px;
        text-decoration: none;
        i {
            margin-right: 2px;
        }
        span {
            display: inline-block;
            font-size: 1.3em;
            text-decoration: underline $primary-color;
        }
        &:visited {
            color: $text-primary-color;
        }
        &:hover {
            color: $primary-color;
        }
    }

    .right {
        display: flex;
        justify-content: end;
        align-items: center;
        a {
            text-decoration: none;
            color: $text-primary-color;
            margin-right: 10px;
        }
        a:visited {
            color: $text-primary-color;
        }
        a:hover {
            color: $primary-color;
        }
    }
}


div.main {
    color: $text-primary-color;
    font-size: 1.5em;
    line-height: 1.5;
}

@media screen and (max-width: 650px) {
    body {
        width: 90vw;
        margin-top: 10vh;
    }
    div.info {
        font-size: 1.1em;
    }
}