@import 'partial/base';

body {
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
    margin-top: 20vh;
    // width: 40vw;
    max-width: 600px;
    background-color: $bg-color;
}


div.info {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5em;
}
div.info img {
    width: 96px;
    height: 96px;
    box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    border: 3px rgba(245, 245, 245, 0.527) solid;
    border-radius: 50%;
    margin-right: 20px;
}
div.info-text {
    #name {
        color: $text-color;
        font-size: 1.1em;
        font-weight: bolder;
        margin-right: 10px;
    }
    #id {
        background-color: $primary-color;
        padding: 2px 10px;
        border-radius: 15px;
        color: $white-color;
        font-size: 0.8em;
        box-shadow: rgba(100, 100, 111, 0.4) 3px 3px 29px 0px;
    }
    #bio {
        color: $text-color;
        font-size: 0.85em;
    }
}


div.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    height: 36px;

    .left {
        position: relative;
    }
    .left img {
        display: inline;
        width: 28px;
        margin-top: 5px;
    }
    .left a {
        display: inline-block;
        height: 36px;
        margin-right: 20px;

        span {
            display: inline-block;
            font-size: 1.3em;
            text-decoration: underline;
            position: relative;
            top: -5px;
        }

        &:visited {
            color: $text-color;
        }

        &:hover {
            transform: scale(1.05);
        }
    }

    .right {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .right a img {
        display: inline;
        width: 28px;
        margin-top: 5px;
        margin-left: 8px;
        &:hover {
            transform: scale(1.05);
        }
    }
}


div.main {
    color: $text-color;
    font-size: 1.5em;
    line-height: 1.5;
}

@media screen and (max-width: 650px) {
    body {
        width: 90vw;
        margin-top: 10vh;
    }
    div.info {
        font-size: 1.1em;
    }
}