@import 'partial/var';

main {
    margin: 0 auto;
    margin-top: 15vh;
    max-width: 600px;
}

div.info {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.4em;

    img {
        width: 80px;
        height: 80px;
        box-shadow: rgba(0, 0, 0, 0.5) 3px 7px 29px 0px;
        // border: 3px $primary-color solid;
        border-radius: 50%;
        margin-right: 20px;
    }
    
    .info-text {
        #name {
            color: $text-primary-color;
            font-size: 1.1em;
            margin-right: 10px;
        }
        #id {
            background-color: $primary-color;
            padding: 1px 12px 2px 12px;
            border-radius: 15px;
            color: #fff;
            font-size: 0.8em;
        }
        #bio {
            color: $text-second-color;
            font-size: 0.8em;
        }
    }
}

div.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    height: 36px;

    .left a {
        display: inline-block;
        text-align: center;
        margin-right: 25px;
        text-decoration: none;
        color: $text-primary-color;
        span {
            margin-left: 2px;
            display: inline-block;
            font-size: 1.3em;
            text-decoration: underline $primary-color;
        }
        &:hover {
            color: $primary-color;
        }
    }

    .right a {
        text-decoration: none;
        color: $text-primary-color;
        margin-right: 10px;
        &:hover {
            color: $primary-color;
        }
    }
}


div.brief {
    color: $text-primary-color;
    font-size: 1.5em;
    line-height: 1.5;
}

@media screen and (max-width: 650px) {
    main {
        width: 90vw;
        margin-top: 10vh;
    }
    div.info {
        font-size: 1.1em;
    }
}