@import "partial/var";
@import "partial/footer";

@import "partial/blog_header";

div.wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

div.blank {
    width: calc((100% - 750px)/2);
}

main {
    max-width: 750px;
    margin-bottom: 50px;
}

article {
    padding: 0 15px;
    color: $text-primary-color;
    .post-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
    }
    .date {
        font-size: 1.2em;
        color: $text-light-color;
    }
    .publish {
        margin-right: 20px;
    }
    .tag {
        font-size: 20px;
        color: $primary-color;
        position: relative;
        margin-left: 15px;
        text-decoration: none;
        span {
            position: relative;
            top: -3px;
        }
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }

    h1 {
        font-size: 2em;
        font-weight: bolder;
        margin: 1em 0 0.5em 0;
    }

    h2 {
        font-size: 1.6em;
        padding-top: 65px;
        margin-top: -45px;
    }

    h3 {
        font-size: 1.4em;
        padding-top: 65px;
        margin-top: -45px;
    }

    h4 {
        font-size: 1.2em;
        margin: 30px 0 15px 0;
    }

    p {
        font-size: 20px;
        line-height: 1.5;
    }

    a {
        color: $primary-color;
        text-decoration: none;
        &:hover {
            text-decoration: underline $primary-color;
        }
    }

    blockquote {
        border-left: 4px $primary-light-2-color solid;
        padding-left: 16px;
        margin: 0 0 24px 0;
        color: $text-light-color;
    }

    p > code {
        font-family: "JetBrains Mono", monospace;
        font-size: 0.8em;
        padding: 0px 6px;
        color: #fff;
        background-color: $primary-color;
        border-radius: 4px;
    }

    pre {
        padding: 12px 16px;
        line-height: 1.5;
        border-radius: 8px;
        overflow: auto;
        code {
            font-family: "JetBrains Mono", monospace;
        }
    }

    ul,
    ol {
        font-size: 20px;
        line-height: 1.5;
    }

    li::marker {
        color: $primary-color;
    }

    hr {
        border: none;
        background-color: $primary-light-2-color;
        border-radius: 3px;
        height: 4px;
        margin: 36px 0;
    }
}

aside {
    width: calc((100% - 750px)/2);
    position: sticky;
    margin-top: 145px;
    top: 60px;
    height: min-content;
    nav {
        min-width: 60%;
    }
    ul {
        list-style-type: none;
        padding-left: 1.5em;
        margin: 0;
    }
    nav a {
        text-decoration: none;
        font-size: 20px;
        display: block;
        margin-bottom: 4px;
        padding: 6px 0px;
        &:hover {
            &::before {
                background-color: $primary-color;
            }
        }
    }
    nav a::before {
        display: inline-block;
        content: "";
        width: 4px;
        height: 10px;
        border-radius: 2px;
        position: relative;
        top: -2px;
        margin-right: 8px;
    }

    .level-1-li > a {
        color: $primary-color;
    }
    .level-2-li > a {
        color: $text-light-color;
    }
}

@media screen and (max-width: 1024px) {
    header {
        #toc-toggle {
            display: inline-block;
            &.active {
                color: $primary-color;
            }
        }
    }
    aside {
        position: fixed;
        right: -100%;
        &.shown {
            right: 0;
        }
        transition: all .5s;
        top: 45px;
        margin-top: 0;
        min-width: 240px;
        height: 100%;
        background-color: #ffffff50;
        box-shadow: rgba(0, 0, 0, 0.2) -2px 0px 20px 0px;
        -webkit-backdrop-filter: blur(8px);
        backdrop-filter: blur(8px);
        nav {
            padding-top: 10px;
        }
        ul {
            padding-left: 10px;
        }
        #back-to-top {
            padding-left: 10px;
            bottom: 3em;
        }
    }
    div.blank {
        display: none;
    }
    main {
        margin: 0 auto;
    }
}



#top {
    padding-top: 45px;
    margin-top: -45px;
}

#back-to-top {
    padding: 10px 15px;
    text-decoration: none;
    position: fixed;
    bottom: 15px;
    margin-left: 22px;
    color: $text-light-color;
    &:hover {
        color: $primary-color;
    }
}