{% import "macros/back_link.html" as macro_back_link %}
{% extends "_base.html" %}

{% block page %}tag-list{% endblock page%}
{% block lang -%}
{% set blog_section_path = config.extra.blog_section_path | trim_start_matches(pat="/") %}
{% set section_md_path = blog_section_path ~ "/_index.md"%}
{% set section = get_section(path=section_md_path, metadata_only=true) %}
{%- if section.extra.lang %}{{ section.extra.lang }}{% else %}{{ lang }}{% endif -%}
{%- endblock lang %}
{% block title %}Tags{% endblock title %}

{% block content %}
<div id="wrapper">
  {{ macro_back_link::back_link(path = get_url(path="/")) }}
  <main>
    <div class="title">Tags</div>
    <div class="tags">
      {% for tag in terms -%}
      <a class="instant" href="{{ tag.permalink }}"># {{ tag.name | lower }}</a>
      {% endfor %}
    </div>
  </main>
  {% include "_footer.html" %}
</div>
{% endblock content %}
