header div#progress-bar {
  width: 100%;
}

#container {
  margin: 0 auto;
  max-width: 750px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  margin: 80px 0;

  .title {
    font-size: 1.5em;
    color: var(--text-second-color);
    margin: 30px 15px 15px;
  }

  .post {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 7.5px 15px;
    margin-bottom: 4px;
    border-radius: 4px;
    font-size: 1.15em;
    text-decoration: none;
    color: var(--primary-color);

    &:hover {
      background-color: var(--primary-light-color);
    }

    .date {
      white-space: nowrap;
    }
  }

  .hidden {
    display: none;
  }

  .showhidden {
    display: flex;
    justify-content: end;

    button {
      border: 0;
      cursor: pointer;
      padding: 7.5px 15px;
      border-radius: 4px;
      color: var(--primary-color);
      background-color: transparent;
      &:hover {
        background-color: var(--primary-light-color);
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    .post {
      font-size: 1em;
      margin: 0 5px 4px;
      padding: 7.5px 10px;
    }
    .showhidden button {
      margin-right: 5px;
      padding: 7.5px 10px;
    }
  }
}

body.dark-mode {
  main .title {
    color: var(--dark-text-second-color);
  }
  main .post:hover,
  main .showhidden button:hover {
    background-color: var(--dark-primary-light-color);
  }
}
