header div#progress-bar {
    width: 100%;
}

main {
    max-width: 750px;
    min-height: calc(100vh - 230px);
    margin: 85px auto;

    .title {
        font-size: 1.6em;
        color: var(--text-second-color);
        margin: 30px 0 15px 0;
        padding: 0 15px;
    }

    .post {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 8px 15px;
        border-radius: 4px;
        margin-bottom: 4px;
        font-size: 1.2em;
        &:hover {
            background-color: var(--primary-light-color);
        }
        text-decoration: none;
        color: var(--primary-color);
        .date {
            color: var(--primary-color);
            white-space: nowrap;
        }
    }

    .hidden {
        display: none;
    }

    .showhidden {
        display: flex;
        justify-content: end;
        button {
            border: 0;
            cursor: pointer;
            position: relative;
            margin-right:8px;
            padding: 2px 2px 6px 9px;
            border-radius: 4px;
            font-size: 1.3em;
            color: var(--primary-color);
            background-color: #0000;
            &:hover {
                background-color: var(--primary-light-color);
            }
            i {
                position: relative;
                top: 7px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main .post {
        font-size: 1.1em;
        margin-left: 5px;
        margin-right: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

body.dark-mode {
    main .title {
        color: var(--dark-text-second-color);
    }
    main .post:hover {
        background-color: var(--dark-primary-light-color);
    }
    main .showhidden .btn:hover {
        background-color: var(--dark-primary-light-color);
    }
}