footer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  color: var(--text-light-color);
  a {
    color: var(--text-light-color);
  }
}

@media (max-width: 500px) {
  footer {
    justify-content: center;
  }
}

body.dark-mode {
  footer,
  footer a {
    color: var(--dark-text-light-color);
  }
}
