header {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: var(--bg-color);
  box-shadow: rgba(0, 0, 0, 0.08) 0 0 8px 0;  
  
  div.top {
    height: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  nav {
    font-size: 1.5em;
    a {
      color: var(--text-primary-color);
      text-decoration: none;
      &:hover {
        color: var(--primary-color);
      }
    }
    span.separator {
      margin: 0 0.1em;
    }
  }

  div.icons {
    a,
    button {
      border: none;
      background-color: transparent;
      padding: 0;
      text-decoration: none;
      color: var(--text-primary-color);
      margin-left: 1em;
      cursor: pointer;
      @media (hover: hover) {
        &:hover svg path:not([fill='none']) {
          fill: var(--primary-color);
        }
      }
    }
    svg {
      width: 20px;
      path:not([fill='none']) {
        fill: var(--text-primary-color);
      }
    }
  }

  #toc-toggle {
    display: none;
  }

  #progress-bar {
    height: 1.5px;
    width: 0%;
    background-color: var(--primary-color);
  }
}


body.dark-mode {
  header {
    background-color: var(--dark-bg-color);
  }

  header nav a {
    color: var(--dark-text-primary-color);
    &:visited {
      color: var(--dark-text-primary-color);
    }
    &:hover {
      color: var(--primary-color);
    }
  }

  header div.icons {
    a,
    button {
      color: var(--dark-text-primary-color);
      &:visited {
        color: var(--dark-text-primary-color);
      }
      @media (hover: hover) {
        &:hover svg path:not([fill='none']) {
          fill: var(--primary-color);
        }
      }
    }
    svg path:not([fill='none']) {
      fill: var(--dark-text-primary-color);
    }
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  header.blur {
    background-color: var(--blur-bg-color);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }

  body.dark-mode header.blur {
    background-color: var(--dark-blur-bg-color);
  }
}

@media (max-width: 1024px) {
  header {
    #toc-toggle {
      display: inline-block;
      &.active svg path:not([fill='none']) {
        fill: var(--primary-color);
      }
    }
  }
}