#homepage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  max-width: var(--homepage-max-width);
  padding: 2em 1em 6em;
}

div.info {
  display: flex;
  gap: 1em;

  img {
    height: 60px;
    border-radius: 50%;
  }
  
  .info-text {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    #id {
      margin-left: 0.5em;
      color: var(--primary-color);
    }
  
    #bio {
      font-size: 0.85em;
      color: var(--text-second-color);
    }
  }
}

div.link {
  margin: 1.5em 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em 1em;
  font-size: 1.2em;
  
  svg path:not([fill='none']) {
    fill: var(--text-primary-color);
  }
  
  a, button {
    line-height: 0;
    text-decoration: none;
    color: var(--text-primary-color);
    &:hover {
      color: var(--primary-color);
      svg path:not([fill='none']) {
        fill: var(--primary-color);
      }
    }
  }

  .left {
    display: flex;
    gap: 0.5em;
    
    a {
      display: flex;
      align-items: center;
      gap: 0.1em;
      span {
        text-decoration: underline var(--primary-color) 1.5px;
        text-underline-offset: 2px;
      }
    }
  }

  .right {
    display: flex;
    gap: 0.5em;
    button {
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

div.brief {
  font-size: 1.25em;
  line-height: 1.5;

  p {
    word-wrap: break-word;
    margin: 0.5em 0;
  }

  a {
    color: var(--primary-color);
    text-decoration: underline var(--primary-light-color) 1.5px;
    text-underline-offset: 2px;
    &:hover {
      text-decoration-color: var(--primary-color);
    }
  }

  p > code {
    font-family: var(--code-font);
    font-size: 0.8em;
    padding: 0px 6px;
    color: var(--primary-color);
    background-color: var(--primary-light-color);
    border-radius: 4px;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: var(--img-border-radius);
  }

  blockquote {
    border-left: 4px var(--primary-light-color) solid;
    padding-left: 16px;
    margin: 0 0 24px 0;
    color: var(--text-light-color);
  }

  li::marker {
    color: var(--primary-color);
  }

  hr {
    border: none;
    background-color: var(--primary-light-color);
    height: 4px;
    margin: 1.5em 0;
  }
}

@media (max-width: 425px) {
  div.link .left,
  div.link .right {
     gap: 0.2em;
  }
}

body.dark-mode {
  div.info .info-text #bio {
    color: var(--dark-text-second-color);
  }

  div.link {
    svg path:not([fill='none']) {
      fill: var(--dark-text-primary-color);
    }
    a, button {
      color: var(--dark-text-primary-color);
      &:hover {
        color: var(--primary-color);
        svg path:not([fill='none']) {
          fill: var(--primary-color);
        }
      }
    }
  }
}
