html {
    scroll-behavior: smooth;
}

div.wrap {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    font-size: 18px;
}

div.blank {
    width: calc((100% - 750px)/2);
}

main {
    width: 100%;
    max-width: 750px;
    min-height: calc(100vh - 230px);
}

article {
    padding: 0 15px;
    font-size: var(--paragraph-font-size);
    #post-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1em;
    }
    .date {
        color: var(--text-light-color);
        margin-bottom: 1em;
        #publish {
            margin-right: 20px;
        }
    }
    .tags {
        margin-bottom: 1em;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }
    .tag{
        color: var(--primary-color);
        text-decoration: none;
        span {
            position: relative;
            top: -3px;
        }
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }

    h1 {
        font-size: 1.6em;
        font-weight: bolder;
        margin: 1em 0 0.5em 0;
    }

    h2 {
        font-size: 1.4em;
        padding-top: 65px;
        margin-top: -45px;
    }

    h3 {
        font-size: 1.1em;
        padding-top: 65px;
        margin-top: -45px;
    }

    h4 {
        font-size: 1.05em;
        margin: 30px 0 15px 0;
    }

    p {
        font-size: 1em;
        line-height: var(--paragraph-line-height);
        word-wrap: break-word;
    }

    a {
        color: var(--primary-color);
        text-decoration: underline var(--primary-light-color) 2px;
        &:hover {
            text-decoration-color: var(--primary-color);
        }
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
        border-radius: var(--img-border-radius);
    }

    figure {
        margin: 0 auto;
    }

    figcaption {
        width: min-content;
        margin: 5px auto;
    }

    blockquote {
        border-left: 4px var(--primary-light-color) solid;
        padding-left: 16px;
        margin: 0 0 24px 0;
        color: var(--text-light-color);
    }

    p > code {
        font-family: var(--code-font);
        font-size: 0.9em;
        padding: 0px 6px;
        color: var(--primary-color);
        background-color: var(--primary-light-color);
        border-radius: 4px;
    }

    pre {
        padding: 12px 16px;
        line-height: 1.5;
        border-radius: var(--pre-border-radius);
        overflow: auto;
        font-size: 0.9em;
        code {
            font-family: var(--code-font);
        }
    }

    ul,
    ol {
        line-height: 1.8;
    }

    li::marker {
        color: var(--primary-color);
    }

    hr {
        border: none;
        background-color: var(--primary-light-color);
        height: 4px;
        margin: 36px 0;
    }

    table {
        width: 100%;
        border-spacing: 0;
    }
    thead {
        background-color: var(--primary-light-color);
    }
    th, td {
        line-height: 2;
        text-align: center;
        border: 1px solid var(--primary-light-color);
    }
    
    blockquote.note {
        display: flex;
        line-height: var(--paragraph-line-height);
        padding: 8px 10px;
        margin-bottom: 20px;
        border: none;
        border-radius: 4px;
        i {
            margin: 5px 10px 0 0;
        }
        p {
            margin: 0;
            + p {
                margin-top: 0.5em;
            }
        }
        &#outdate_warn {
            &.hidden {
                display: none;
            }
            background-color: var(--ad-warning-bg-color);
            color: var(--ad-wrong-color);
        }
        &#cc_license {
            background-color: var(--ad-cc-license-bg-color);
            color: var(--ad-cc-license-color);
            margin-top: 2em;
        }
        &.info {
            background-color: var(--ad-info-bg-color);
            color: var(--ad-info-color);
        }
        &.important {
            background-color: var(--ad-important-bg-color);
            color: var(--ad-important-color);
        }
        &.tip {
            background-color: var(--ad-tip-bg-color);
            color: var(--ad-tip-color);
        }
        &.question {
            background-color: var(--ad-question-bg-color);
            color: var(--ad-question-color);
        }
        &.caution {
            background-color: var(--ad-caution-bg-color);
            color: var(--ad-caution-color);
        }
        &.warning {
            background-color: var(--ad-warning-bg-color);
            color: var(--ad-warning-color);
        }
        &.star {
            background-color: var(--ad-star-bg-color);
            color: var(--ad-star-color);
        }
        &.check {
            background-color: var(--ad-check-bg-color);
            color: var(--ad-check-color);
        }
        &.wrong {
            background-color: var(--ad-wrong-bg-color);
            color: var(--ad-wrong-color);
        }
        &.good {
            background-color: var(--ad-good-bg-color);
            color: var(--ad-good-color);
        }
        &.bad {
            background-color: var(--ad-bad-bg-color);
            color: var(--ad-bad-color);
        }
        &.happy {
            background-color: var(--ad-happy-bg-color);
            color: var(--ad-happy-color);
        }
        &.unhappy {
            background-color: var(--ad-unhappy-bg-color);
            color: var(--ad-unhappy-color);
        }
        &.flag {
            background-color: var(--ad-flag-bg-color);
            color: var(--ad-flag-color);
        }
    }
}

.comment {
    padding: 15px;
}

aside {
    width: calc((100% - 750px)/2);
    position: sticky;
    margin-top: 140px;
    top: 60px;
    height: min-content;
    font-size: var(--paragraph-font-size);
    z-index: 99;
    nav {
        min-width: 60%;
        overflow-y: auto;
        max-height: 80vh;
        padding-bottom: 30%;
        scrollbar-width: none;
        &::-webkit-scrollbar { 
          width: 0;
        }
    }
    ul {
        list-style-type: none;
        padding-left: 1.5em;
        margin: 0;
    }
    nav a {
        text-decoration: none;
        display: block;
        margin-bottom: 0.8em;
        &::before {
            display: inline-block;
            content: "";
            width: 4px;
            height: 10px;
            border-radius: 2px;
            position: relative;
            top: -2px;
            margin-right: 8px;
        }
        &:hover,
        &.active {
            &::before {
                background-color: var(--primary-color);
            }
        }
    }

    .toc-h2 {
        color: var(--primary-color);
    }
    .toc-h3 {
        color: var(--text-second-color);
    }
    
    #back-to-top {
      padding: 10px 15px;
      text-decoration: none;
      position: fixed;
      bottom: 18px;
      margin-left: 20px;
      color: var(--text-light-color);
      &:hover {
          color: var(--primary-color);
      }
    }
}

@media screen and (max-width: 1024px) {
    aside {
        position: fixed;
        right: -100%;
        &.shown {
            right: 0;
        }
        top: 45px;
        margin-top: 0;
        min-width: 240px;
        height: 100%;
        background-color: var(--bg-color);
        box-shadow: rgba(0, 0, 0, 0.08) -2px 8px 8px 0px;
        nav {
            padding-top: 10px;
        }
        ul {
            padding-left: 10px;
        }
        #back-to-top {
            padding-left: 10px;
            bottom: 3em;
        }
    }
    body.dark-mode aside {
        background-color: var(--dark-bg-color);
    }
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        aside.blur {
            background-color: var(--blur-bg-color);
            -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
        }
        body.dark-mode aside.blur {
            background-color: var(--dark-blur-bg-color);
            -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
        }
    }
    div.blank {
        display: none;
    }
    main {
        margin: 0 auto;
    }
}

#top {
    padding-top: 45px;
    margin-top: -45px;
}

body.dark-mode {
    article {
        .date {
            color: var(--dark-text-light-color);
        }
        blockquote {
            color: var(--dark-text-light-color);
            border-color: var(--dark-primary-light-color);
        }
        hr {
            background-color: var(--dark-primary-light-color);
        }
    }
    aside .toc-h3 {
        color: var(--dark-text-second-color);
    }
}