header div#progress-bar {
    width: 100%;
}

main {
    margin: 80px auto;
    max-width: 750px;
    min-height: calc(100vh - 230px);
}

.proj {
    margin: 30px 15px;

        .name {
            font-size: 1.3em;
            margin: 0 0 15px 0;
        }
        .desc {
            line-height: 1.5;
            margin: 0 0 10px 0;
            a {
                color: var(--primary-color);
                text-decoration: underline var(--primary-light-color) 2px;
                &:hover {
                    text-decoration-color: var(--primary-color);
                }
            }
            p > code {
                font-family: var(--code-font);
                font-size: 0.8em;
                padding: 0px 6px;
                color: var(--primary-color);
                background-color: var(--primary-light-color);
                border-radius: 4px;
            }
        }

    .links {
        display: flex;
        justify-content: end;
        a {
            text-decoration: none;
            border-bottom: 2px solid var(--primary-color);
            padding: 0 2px;
            margin-left: 15px;
            cursor: pointer;
            color: inherit;
            &:visited {
                color: inherit;
            }
            &:hover {
                color: var(--primary-color);
            }
        }
    }
}