header div#progress-bar {
    width: 100%;
}

main {
    max-width: 750px;
    min-height: calc(100vh - 230px);
    margin: 85px auto;

    .title {
        width: min-content;
        color: var(--text-second-color);
        font-size: 1.8em;
        margin: 0 auto;
    }

    .tags {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-size: 1.3em;
    }

    .tag{
        color: var(--primary-color);
        text-decoration: none;
        margin: 20px 20px;
        span {
            position: relative;
            top: -3px;
            left: -5px;
        }
    }

}

body.dark-mode {
    main .title {
        color: var(--dark-text-second-color);
    }
}