:root {
//======================  Colors  ========================
--primary-color: #6d9bff;

// light-mode colors
--primary-light-color: #6d9bff20;
--text-primary-color: #3C4043;
--text-second-color: #586066;
--text-light-color: #aeb7ca;
--bg-color: #ffffff;
--blur-bg-color: #ffffff50;
 
// dark-mode colors
--dark-primary-light-color: #6d9bff20;
--dark-text-primary-color: #9197a5;
--dark-text-second-color: #70788b;
--dark-text-light-color: #5d6470;
--dark-bg-color: #2b2b2b;
--dark-blur-bg-color: #2b2b2b30;

// colors for admonitions (specially styled quote block)
--ad-info-color: #4890fc;
--ad-info-bg-color: #4890fc30;
--ad-important-color: #b080ff;
--ad-important-bg-color: #b080ff30;
--ad-tip-color: #39e08d;
--ad-tip-bg-color: #39e08d30;
--ad-question-color: #34dbdb;
--ad-question-bg-color: #34dbdb30;
--ad-caution-color: #f5a623;
--ad-caution-bg-color: #f5a62330;
--ad-warning-color: #ff6868;
--ad-warning-bg-color: #ff686830;
--ad-star-color: #ffa4ff;
--ad-star-bg-color: #ffa4ff30;
--ad-check-color: #39e08d;
--ad-check-bg-color: #39e08d30;
--ad-wrong-color: #ff6868;
--ad-wrong-bg-color: #ff686830;
--ad-good-color: #39e08d;
--ad-good-bg-color: #39e08d30;
--ad-bad-color: #ff6868;
--ad-bad-bg-color: #ff686830;
--ad-happy-color: #39e08d;
--ad-happy-bg-color: #39e08d30;
--ad-unhappy-color: #ff6868;
--ad-unhappy-bg-color: #ff686830;
--ad-flag-color: #5689e9;
--ad-flag-bg-color: #5689e930;
--ad-cc-license-color: #8593ac;
--ad-cc-license-bg-color: #8593ac30;


//======================  Typography  =====================
--homepage-margin-top: 15vh;
--homepage-max-width: 650px;
--paragraph-font-size: 18px;
--paragraph-line-height: 1.75;
--img-border-radius: 4px;
--pre-border-radius: 4px;
--main-font: 'Jost', Arial, Helvetica, sans-serif;
--code-font: 'JetBrains Mono', monospace;

}
