:root {
//======================  Colors  ========================
--primary-color: #6d9bff;

// light-mode colors
--primary-light-color: #6d9bff20;
--text-primary-color: #3C4043;
--text-second-color: #586066;
--text-light-color: #aeb7ca;
--bg-color: #ffffff;
--blur-bg-color: #ffffff50;
 
// dark-mode colors
--dark-primary-light-color: #6d9bff20;
--dark-text-primary-color: #9197a5;
--dark-text-second-color: #70788b;
--dark-text-light-color: #5d6470;
--dark-bg-color: #2b2b2b;
--dark-blur-bg-color: #2b2b2b30;

// colors for note (specially styled quote)
--note-info-color: #4890fc;
--note-info-bg-color: #4890fc30;
--note-important-color: #b080ff;
--note-important-bg-color: #b080ff30;
--note-tip-color: #39e08d;
--note-tip-bg-color: #39e08d30;
--note-question-color: #34dbdb;
--note-question-bg-color: #34dbdb30;
--note-caution-color: #f5a623;
--note-caution-bg-color: #f5a62330;
--note-warning-color: #ff6868;
--note-warning-bg-color: #ff686830;
--note-star-color: #ffa4ff;
--note-star-bg-color: #ffa4ff30;
--note-check-color: #39e08d;
--note-check-bg-color: #39e08d30;
--note-wrong-color: #ff6868;
--note-wrong-bg-color: #ff686830;
--note-good-color: #39e08d;
--note-good-bg-color: #39e08d30;
--note-bad-color: #ff6868;
--note-bad-bg-color: #ff686830;
--note-happy-color: #39e08d;
--note-happy-bg-color: #39e08d30;
--note-unhappy-color: #ff6868;
--note-unhappy-bg-color: #ff686830;
--note-flag-color: #5689e9;
--note-flag-bg-color: #5689e930;
--note-cc-license-color: #6d788b;
--note-cc-license-bg-color: #6d788b30;


//======================  Typography  =====================
--homepage-margin-top: 15vh;
--homepage-max-width: 600px;
--paragraph-font-size: 18px;
--paragraph-line-height: 1.75;
--img-border-radius: 4px;
--pre-border-radius: 4px;
--main-font: 'Jost', Arial, Helvetica, sans-serif;
--code-font: 'JetBrains Mono', monospace;

}
