@import 'var';

header {
    border-bottom: 2px $primary-color solid;
    position: fixed;
    width: 100%;
    top: 0;
    height: 43px;
    background-color: #ffffff50;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: 100;

    div.top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 2px 0 1px 0;
        max-width: 750px;
        position: relative;
    }

    a.back {
        position: absolute;
        z-index: 1;
        left: -80px;
        text-decoration: none;
        color: $text-light-color;
        padding: 10px 0;
        span {
            position: relative;
            top: -2px;
        }
        &:hover {
            color: $primary-color;
        }
    }
    
    a.blog {
        position: relative;
        color: $text-primary-color;
        padding-left: 10px;
        text-decoration: none;
        span {
            position: relative;
            top: -6px;
            font-size: 1.7em;
        }
        &:hover {
            color: $primary-color;
        }
    }
    
    div.icon {
        padding-right: 15px;
        transform: translateY(5px);
        a {
            text-decoration: none;
            color: $text-primary-color;
            margin-left: 20px;
            &:hover {
                color: $primary-color;
            }
        }
    }
    #go-home {
        display: none;
    }
    #toc-toggle {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    header {
        a.back {
            display: none;
        }
        #go-home {
            display: inline-block;
        }
    }
}