@import 'var';

header { 
    position: fixed;
    width: 100%;
    top: 0;
    height: 45px;
    background-color: $bg-color;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 8px 0;

    div.top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 2px 0 1px 0;
        max-width: 750px;
        position: relative;
    }

    a.back {
        position: absolute;
        z-index: 1;
        left: -80px;
        text-decoration: none;
        color: $text-light-color;
        padding: 10px 0;
        span {
            position: relative;
            top: -2px;
        }
        &:hover {
            color: $primary-color;
        }
    }
    
    a.blog {
        position: relative;
        color: $text-primary-color;
        padding-left: 10px;
        text-decoration: none;
        span {
            position: relative;
            top: -6px;
            font-size: 1.7em;
        }
        &:hover {
            color: $primary-color;
        }
    }
    
    div.icon {
        padding-right: 15px;
        transform: translateY(5px);
        a {
            text-decoration: none;
            color: $text-primary-color;
            margin-left: 20px;
            @media (hover: hover) {
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    #go-home {
        display: none;
    }
    #toc-toggle {
        display: none;
    }

    div#progress-bar {
        height: 2px;
        width: 0%;
        background-color: $primary-color;
    }
}


body.dark-mode {
    header {
        background-color: $dark-bg-color;
    }
    header a.back {
        color: $dark-text-light-color;
        &:visited {
            color: $dark-text-light-color;
        }
        &:hover {
            color: $primary-color;
        }
    }
    header a.blog {
        color: $dark-text-primary-color;
        &:visited {
            color: $dark-text-primary-color;
        }
        &:hover {
            color: $primary-color;
        }
    }
    header div.icon a {
        color: $dark-text-primary-color;
        &:visited {
            color: $dark-text-primary-color;
        }
    }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    header {
      background-color: $blur-bg-color;
      -webkit-backdrop-filter: blur(8px);
      backdrop-filter: blur(8px);
    }
    body.dark-mode header {
        background-color: $dark-blur-bg-color;
    }
}

@media screen and (max-width: 768px) {
    header {
        a.back {
            display: none;
        }
        #go-home {
            display: inline-block;
        }
    }
}
