@import 'var';

footer {
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.95em;
    color: $text-light-color;
    margin: 20px auto;
    a {
        color: $text-light-color;
    }
    div {
        margin: 0 15px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
        flex-wrap: wrap;
    }
}
