$primary-color: #6d9bff;
$primary-light-color: #6d9bff20;

$text-primary-color: #3C4043;
$text-second-color: #586066;
$text-light-color: #aeb7ca;

$bg-color: #ffffff;

$blur-bg-color: #ffffff50;

// ---------------------------

$dark-primary-light-color: #6d9bff20;


$dark-text-primary-color: #9197a5;
$dark-text-second-color: #70788b;
$dark-text-light-color: #5d6470;

$dark-bg-color: #2B2B2B;

$dark-blur-bg-color: #2b2b2b30;