{% set path = path | default(value=src) %}
{% if width is defined and height is defined %}
  {% if not op is defined %}
    {% set op = "fill" %}
  {% endif %}
  {% set image = resize_image(path=path, width=width, height=height, op=op) %}
  {% set path = image.url %}
{% endif %}

<figure>
    <img
        src="{{ path }}"
        {% if alt %} alt="{{ alt }}"{% endif %}
        {% if height and not width is defined %} height="{{ height }}"{% endif %}
        {% if width %} width="{{ width }}"{% endif %}
    >
    {% if via %}
    <figcaption><a href="{{via}}">via</a></figcaption>
    {% else %}
    <figcaption>{{ caption }}</figcaption>
    {% endif %}
</figure>
