<header {% if config.extra.blur_effect %} class="blur" {% endif %}>
  <div class="top">
    <nav>
      <a href="/">{{ config.extra.id }}</a><span class="separator">{{ config.extra.nav_separator }}</span><a href="/blog">blog</a>
    </nav>
    <div class="icons">
      
      {% set rss_icon = load_data(path="static/icon/rss.svg") %}

      {% if config.extra.feed_in_blog_section -%}
      <a href="/blog/{{ config.feed_filename }}" aria-label="rss feed">{{ rss_icon | safe }}</a>
      {% elif config.generate_feed -%}
      <a href="/{{ config.feed_filename }}" aria-label="rss feed">{{ rss_icon | safe }}</a>
      {% endif -%}

      {% set moon_icon = load_data(path="static/icon/moon.svg") %}
      {% set sun_icon = load_data(path="static/icon/sun.svg") %}
      <button id="theme-toggle" aria-label="theme switch" data-moon-icon="{{ moon_icon }}" data-sun-icon="{{ sun_icon }}">
        {{ moon_icon | safe }}
      </button>

      {% set toc_icon = load_data(path="static/icon/toc.svg") %}
      {% if page.extra.toc is defined %}{% set show_toc = page.extra.toc -%}
      {% else %}{% set show_toc = config.extra.toc %}{% endif -%}
      {% if show_toc and page -%}
      <button id="toc-toggle" aria-label="table of content">
        {{ toc_icon | safe }}
      </button>
      {% endif -%}
    </div>
  </div>
  <div id="progress-bar"></div>
</header>