<footer>
    <div class="copyright">
        {% if config.extra.footer_custom %}
        {{ config.extra.footer_custom }}
        {% else %}
        Copyright © {{ config.extra.footer_copyright_year }} {{ config.extra.footer_copyright_name}}. All rights reserved.
        {% endif %}
    </div>
    {% if config.extra.footer_credits %}
    <div class="credits">
        <span>Powered by <a href="https://www.getzola.org/" target="_blank">Zola</a> and <a href="https://github.com/isunjn/serene" target="_blank">Serene</a></span>
    </div>
    {% endif %}
</footer>