<header {% if config.extra.blur_effect %} class="blur" {% endif %}>
  <div id="wrapper">
    <nav>
      <a href="/">{{ config.extra.id }}</a>
      <span class="separator">{{ config.extra.nav_separator }}</span>
      {% if section.path != "/projects/" %}
      <a href="/blog">blog</a>
      {% else %}
      <a href="/projects">projects</a>
      {% endif %}
    </nav>
    <div id="btns">
      {% if section.path != "/projects/" %}
      {% set rss_icon = load_data(path="static/icon/rss.svg") %}
      {% if section.generate_feed -%}
      <a href="/blog/{{ config.feed_filename }}" aria-label="rss feed">{{ rss_icon | safe }}</a>
      {% elif config.generate_feed -%}
      <a href="/{{ config.feed_filename }}" aria-label="rss feed">{{ rss_icon | safe }}</a>
      {% endif %}
      {% endif %}

      {% set moon_icon = load_data(path="static/icon/moon.svg") %}
      {% set sun_icon = load_data(path="static/icon/sun.svg") %}
      <button id="theme-toggle" aria-label="theme switch" data-moon-icon="{{ moon_icon }}"
        data-sun-icon="{{ sun_icon }}">
        {{ moon_icon | safe }}
      </button>

      {% if section.path != "/projects/" %}
      {% set toc_icon = load_data(path="static/icon/toc.svg") %}
      {% if page.extra.toc is defined %}{% set show_toc = page.extra.toc %}{% else %}{% set show_toc = config.extra.toc
      %}{% endif %}
      {% if show_toc and page %}
      <button id="toc-toggle" aria-label="table of content">
        {{ toc_icon | safe }}
      </button>
      {% endif %}
      {% endif %}
    </div>
  </div>
</header>