{% extends "_base.html" %}
<!---------------------------------------------------------->

{% block css %}
<link rel="stylesheet" href="blog.css" />
{% endblock css %}

<!---------------------------------------------------------->


{% block content %}

<header>
    <div class="top">
        <div class="blog" href="/blog"><i class="ri-quill-pen-line ri-2x"></i><span>Blog</span></div>
        <a class="back" href="/"><i class="ri-arrow-left-line ri-sm"></i><span>Home</span></a>
        <div class="icon">
            <a href="/feed"><i class="ri-rss-line ri-xl"></i></a>
            <a href="javascript;"><i class="ri-moon-line ri-xl"></i></a>
        </div>
    </div>
</header>

<main>
    <div class="brief">
        <p>To write is to live</p>
    </div>

    <div class="post-list">
        {% for post in section.pages %}
        <a class="post" href="{{ post.permalink }}"><span>{{ post.title }}</span><span class="date">{{ post.date
                }}</span></a>
        {% endfor %}
    </div>
    <div class="post-list">
        {% for post in section.pages %}
        <a class="post" href="{{ post.permalink }}"><span>{{ post.title }}</span><span class="date">{{ post.date
                }}</span></a>
        {% endfor %}
    </div>
    <div class="post-list">
        {% for post in section.pages %}
        <a class="post" href="{{ post.permalink }}"><span>{{ post.title }}</span><span class="date">{{ post.date
                }}</span></a>
        {% endfor %}
    </div>
    <div class="post-list">
        {% for post in section.pages %}
        <a class="post" href="{{ post.permalink }}"><span>{{ post.title }}</span><span class="date">{{ post.date
                }}</span></a>
        {% endfor %}
    </div>
    <div class="post-list">
        {% for post in section.pages %}
        <a class="post" href="{{ post.permalink }}"><span>{{ post.title }}</span><span class="date">{{ post.date
                }}</span></a>
        {% endfor %}
    </div>
</main>
{% endblock content %}

{% include "parial/_footer.html" %}