{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="home.css" />
{% endblock css %}

{% block content %}

<div class="info">
    <img src="{{ config.extra.avatar }}" alt="avatar">
    <div class="info-text">
        <p> <span id="name">{{ config.extra.name }}</span> <span id="id">@{{ config.extra.id }}</span> </p>
        <p id="bio"> {{ config.extra.bio }} </p>
    </div>
</div>

<div class="link">
    <div class="left">
        <a href="/blog" id="blog"><img src="/icon/quill-pen-line.svg"><span>Blog</span></a>
        <a href="/projects" id="projects"><img src="/icon/hammer-line.svg"><span>Projects</span></a>
    </div>
    <div class="right">
        <a href="#"><img src="icon/github-line.svg"></a>
        <a href="#"><img src="icon/twitter-line.svg"></a>
        <a href="#"><img src="icon/mail-line.svg"></a>
    </div>
</div>

<div class="main">{{ section.content | safe }}</div>

{% endblock content %}