{% extends "_base.html" %}

{% block lang -%}
{% if section.extra.lang %}{{ section.extra.lang }}
{%- else %}{{ section.lang }}{% endif %}
{%- endblock lang -%}

{% block title %}{{ config.title }}{% endblock title %}

{% block desc %}{{ config.description }}{% endblock desc %}

{% block css -%}
<link rel="stylesheet" href="/css/home.css" />
{%- endblock css %}

{% block content %}
<div id="homepage">
  <main>
    <div class="info">
      <img src="{{ config.extra.avatar }}" alt="avatar">
      <div class="info-text">
        <div>
          <span id="name">{{ config.extra.name }}</span>
          {% if config.extra.show_id -%}
          <span id="id">@{{ config.extra.id }}</span>
          {% endif -%}
        </div>
        <div id="bio"> {{ config.extra.bio }} </div>
      </div>
    </div>
    <div class="link">
      <div class="left">
        <a href="/blog" id="blog">
          {% set icon_path = "static/icon/" ~ config.extra.blog_icon ~ ".svg" %}
          {% set icon = load_data(path=icon_path) %}
          {{ icon | safe }}
          <span>Blog</span>
        </a>
        {% if config.extra.show_projects -%}
        <a href="/projects" id="projects">
          {% set icon_path = "static/icon/" ~ config.extra.projects_icon ~ ".svg" %}
          {% set icon = load_data(path=icon_path) %}
          {{ icon | safe }}
          <span>Projects</span>
        </a>
        {% endif -%}
      </div>
      <div class="right">
        {% for link in config.extra.links -%}
        <a href="{{ link.url }}" aria-label="{{ link.name }}" target="_blank" rel='noreferrer noopener'>
          {% set icon_path = "static/icon/" ~ link.icon ~ ".svg" %}
          {% set icon = load_data(path=icon_path) %}
          {{ icon | safe }}
        </a>
        {% endfor -%}
        <button id="color-toggle" aria-label="dark light mode switch">
          <i class="ri-moon-line ri"></i>
        </button>
      </div>
    </div>
    <div class="brief">{{ section.content | trim | safe }}</div>
  </main>
</div>
{% endblock content %}
