{% extends "_base.html" %}

{% block css %}
<link rel="stylesheet" href="/post.css" />
{% endblock css %}

{% block content %}

{% include "partial/_blog_header.html" %}

<div class="wrap">

<div class="blank"></div>

<main>
    <div id="top"></div>
    <article>
        <h1>{{ page.title }}</h1>
        <div class="post-info">
            <div class="date">
                <span class="publish">{{ page.date | date }}</span>
                <span class="update">Updated on {{ page.updated | date }}</span>    
            </div>
            <div class="tags">
                {% for tag in page.taxonomies.tags %}
                <a class="tag"><i class="ri-hashtag ri-sm"></i><span>{{ tag }}</span></a>
                {% endfor %}
            </div>
        </div>

        {{ page.content | safe }}
    </article>

    <div class="comment">

    </div>
</main>

<aside>
    {% if page.toc %}
    <nav>
    <ul class="level-1">
    {% for h1 in page.toc %}
        <li class="level-1-li">
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul class="level-2">
                    {% for h2 in h1.children %}
                        <li class="level-2-li">
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
    </nav>
    {% endif %}
    <a id="back-to-top" href="#top"><i class="ri-arrow-up-s-line ri-2x"></i></a>
</aside>

</div>


{% include "partial/_footer.html" %}

{% endblock content %}

{% block script %}
 <script src="/js/toc.js"></script>
{% endblock script %}