<header>
    <div class="top">
        <a class="blog" href="/blog"><i class="ri-quill-pen-line ri-2x"></i><span>Blog</span></a>
        <a class="back" href="/"><i class="ri-arrow-left-s-line ri-1x"></i><span>Home</span></a>
        <div class="icon">
            <a id="go-home" href="/"><i class="ri-user-6-line ri-xl"></i></a>
            <a href="/feed"><i class="ri-rss-line ri-xl"></i></a>
            <a id="color-toggle" href=""><i class="ri-moon-line ri-xl"></i></a>
            <a id="toc-toggle" href=""><i class="ri-menu-2-line ri-xl"></i></a>
        </div>
    </div>
</header>
